/* START OF SETTINGS */
:root {
    --bg-color: #76ABAE;
    --secondary-bg-color: #eeeeee;
    --hover-color: #434952;
    --secondary-hover-color: #31363f;
    --content-main-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans Mono", monospace;
}


body {
    background-color: var(--bg-color);
    color: var(--content-main-color);
}

main {
    margin-left: 200px;
    width: calc(100% - 200px);
}

/* END OF SETTINGS */
/* *********************************************************************** */
/* START OF NAVBAR */
.sidebar {
    background: var(--secondary-bg-color);
    width: 200px;
    height: 100vh;
    display: flex;
    color: var(--secondary-hover-color);
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
}

.sidebar-brand {
    text-align: center;
    margin-bottom: 80px;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.brand-info h2,
.brand-info p {
    margin: 5px 0;
}

.brand-info h2 {
    font-size: 22px;
    font-weight: bold;
}

.brand-info p {
    font-size: 16px;
    font-weight: normal;
}

.sidebar-nav {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.nav-item {
    width: 100%;
    padding: 10px 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-hover-color);
    font-size: 18px;
    font-weight: bold;
    display: block;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: var(--hover-color);
    border-radius: 20px;
    color: var(--secondary-bg-color);
}

.social-links {
    margin-top: auto;
    padding-bottom: 100px;
}

.social-link {
    display: block;
    margin: 10px 0;
}

.social-link img {
    width: 30px;
    height: auto;
}

/* END OF NAVBAR */
/* *********************************************************************** */
/* START OF SECTIONS */
.section {
    min-height: 100vh;
    padding: 50px;
    margin-bottom: 2rem;
}

/* END OF SECTIONS */
/* *********************************************************************** */
/* START OF HOME */
#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: var(--bg-color);
    color: var(--text-color);
}

#home h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in-out;
}

.scroll-down {
    text-align: center;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.scroll-down p {
    margin: 0;
    font-size: 16px;
    color: inherit;
}

.scroll-link {
    display: block;
    margin-top: 10px;
    color: inherit;
    font-size: 2em;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* END OF HOME */
/* *********************************************************************** */
/* START OF ABOUT */
#about {
    background-color: var(--bg-color);
    color: var(--content-main-color);
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#about p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: center;
}

.resume-link {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: var(--hover-color);
    color: var(--content-main-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    background-color: var(--secondary-hover-color);
}

/* END OF ABOUT */
/* *********************************************************************** */
/* START OF WORK */
#work {
    padding: 40px;
}

#work h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    text-align: left;
}

.work-container {
    display: flex;
    background-color: var(--hover-color);
    padding: 20px;
    justify-content: center;
}

.logo-sidebar {
    display: flex;
    flex-direction: column;
}


.logo-frame {
    width: 200px;
    height: 200px;
    margin: 5px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.company-logo {
    width: 200px;
    background-color: white;
}

.job-description {
    width: 400px;
    padding: 10px;
    margin: 5px 0px;
    background-color: var(--secondary-hover-color);
}

.hidden {
    display: none;
}



/* END OF WORK */
/* *********************************************************************** */
/* START OF PROJECTS */
#projects {
    padding: 40px;
}

#projects h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    height: 400px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-thumbnail {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.tech-pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    color: #000;
    font-size: 0.75rem;
    white-space: nowrap;
}

.tech-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.card-back {
    background: #555;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.project-card:hover .card-inner {
    transform: rotateY(180deg);
}

.project-title {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.project-description {
    font-size: 1rem;
    margin: 10px 0;
}

.project-link {
    display: inline-block;
    background-color: var(--hover-color);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #666;
}


/* END OF PROJECTS */
/* *********************************************************************** */
/* START OF CONTACTS */
#contacts {
    text-align: center;
    padding: 40px;
    height: 20vh;
}

#contacts h2 {
    margin-bottom: 1rem;
    color: #333;
    font-size: 2rem;
}

.contact-methods {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--hover-color);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.contact-link.linkedin {
    background-color: #0077b5;
}

.contact-link.github {
    background-color: #333;
}

.contact-link.email {
    background-color: #d44638;
}

.contact-link:hover {
    opacity: 0.8;
}


/* END OF CONTACTS */
/* *********************************************************************** */
/* START OF TECH PILLS */
.python {
    background-color: #ffd54f;
}

/* END OF TECH PILLS */
/* *********************************************************************** */