:root {
    --bg-color: rgb(0, 0, 0);
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans Mono", monospace;
    background-color: var(--bg-color);
    color: var(--text-color);

}

/* START OF NAVBAR */
header {
    background: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.navbar-brand img {
    height: 60px;
}

.navbar-links {
    text-align: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item .nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
    color: #76b4f9;
}
/* END OF NAVBAR */

/* START OF ABOUT */